.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

#flexContainer {
  width: 620px;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 20px;
}

#container {
  width: 80%;
  margin: auto;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


@media only screen and (max-width: 480px) {
  #flexContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
  }

  #container {
    width: 100%;
  }
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  #flexContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
  }

  #container {
    width: 100%;
  }
}